<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body style="background-color:#0E5ABD;">
        <h1 style="font-family:verdana">Club: {{ club }}!</h1>
        <img src="https://upload.wikimedia.org/wikipedia/hif/0/0d/Chelsea_FC.png" style="width:100px; height:100px">
        <form action="/action/createprojection" method="POST">
            <input type="text" name="year" placeholder="enter year">
            <input type="submit" value="submit">
        </form>
        <p style="font-family:verdana">Or you can log out.</p>
        <form action="/logout" method="POST">
            <input type="submit" value="Log out">
        </form>
    </body>
</html>