<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body style="background-color:#5AFF75;">
        <h1>{{ message }}</h1>
        <h2>{{ message1 }}</h2>
        <form action="/login" method="POST">
            <input type="club" name="club" placeholder="clubName(sameasabove)">
<!--            <input type="password" name="password" placeholder="Password">-->
            <input type="submit" value="Log in">
        </form>
    </body>
</html>
